body{
    border: 0;
    font-family: franklin gothic medium, sans-serif;
    background-color: rgb(243, 148, 144);
}
header{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color:white;
    margin:0px 20px;
    text-decoration:none;
    font-size: 15px;
    text-align: center;
}

footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.main{
    background-color: lightblue;
    color:white;
    padding: 50px;
    text-align: center;
}
.btn{
    background-color: black;
    display:inline-block;
    color:white;
    padding: 10px 20px;
    text-decoration:none;
    font-size: 15px;
    border-radius:5px;
    cursor:pointer;
}