.parent{
    background-color: beige;
    display : grid;
    height : 100vh;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 10% 10% 80%;
}
.header{

    background-color: aqua;
    grid-row: 1/2;
    grid-column: 1/4;
}
.search{

    background-color: red;
    grid-row: 2/3;
    grid-column: 1/3;
}
.left{
    background-color: blanchedalmond;
    grid-row: 3/4;
    grid-column: 1/2;
}
.middle{

    background-color: greenyellow;
    grid-row: 3/4;
    grid-column: 2/3;
}
.right{

    background-color: coral;
    grid-row: 3/4;
    grid-column: 3/4;
}
   
   



